# node
/node_modules
package-lock.json

# generated html and JS
/test_ui
/ui/bundle.js
/ui/sidebar.html

# deployment configs
.clasp.json
.firebaserc
/src/config.ts

# misc
.DS_Store

# Python
/env
/**/__pycache__