<head>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />  
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <style>
    .block .form-group {
      width: 100%;
    }
    input, select {
      width: 100%;
    }
  </style>
</head>
<body>
  <div id="firebaseui-auth-container"></div>
  <div id="tabs" class="sidebar">
    <ul>
      <li><a href="#browser">Browse</a></li>
    </ul>
    <div id="browser">
      <form>
        <div class="block form-group">
          <label for="description">Description</label>
          <input id="description" type="text" name="description">
        </div>
        <div class="block form-group">
          <label for="quantity">Quantity</label>
          <select id="quantity" name="quantity"></select>
        </div>
        <div class="block">
          <b>Brand: </b>
          <span id="brand"></span>
        </div>
        <div class="block">
          <b>Ingredients: </b>
          <span id="ingredients"></span>
        </div>
        <div class="block" id="button-bar">
          <button type="button" id="more-details">Details</button>
          <button type="button" id="new-ingredient">New Ingredient</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-firestore.js"></script>
  <script src="../ui/web.bundle.js"></script>
</body>